# 编译生成的文件夹
Debug/
Release/

# 临时文件
*.o
*.d
*.su
*.list
*.map

# CubeIDE 自动生成的索引
.settings/
.pdm/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
